# Arquivos de Histórico
.Rhistory
.Rapp.history

# Arquivos de Dados de Sessão
.RData
.RDataTmp

# Arquivos Específicos do Usuário
.Ruserdata

# Código de Exemplo no Processo de Construção do Pacote
*-Ex.R

# Arquivos de Saída do R CMD build
/*.tar.gz

# Arquivos de Saída do R CMD check
/*.Rcheck/

# Arquivos do RStudio
.Rproj.user/

# Vignettes produzidos
vignettes/*.html
vignettes/*.pdf

# Token OAuth2, consulte https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# Diretórios de Cache padrão do knitr e R Markdown
*_cache/
/cache/

# Arquivos Temporários criados pelo R Markdown
*.utf8.md
*.knit.md

# Variáveis de Ambiente do R
.Renviron

# Site pkgdown
docs/

# Arquivos Temporários de Tradução
po/*~

# Pasta RStudio Connect
rsconnect/

# Arquivos Gerados pelo R
.RData
.Rhistory

# Diretórios Gerados pelo R
.Rproj.user/

# Pacotes e Ambientes Virtuais
renv/
packrat/

# Outros Arquivos e Diretórios Comuns
*.rds
*.Rproj
.Rcheck/
.RShiny/

# Arquivos Temporários
.Renviron
.Rprofile.site
.Rproj.user/
.Rhistory
.Rapp.history
.Renviron.site
.Rproj*
*.html

# Arquivos Específicos do RStudio
.Rproj.user/

# Outros Arquivos
.DS_Store
.json
.css
.TeX
